body{
    height: 300vh;
}

div{
    width: 200px;
    height: 200px;
    background-color: brown;
    margin: 10px;
}

.s1{
    position: fixed;
    left: 100px;
    top: 50%;
    background-color: rgba(222, 184, 135, 0.705);
    z-index: -1;
}
.s2{
    position: absolute;
    background-color: blue;
    top: 80%;
    left: 80%;
}

.s3{
    position: relative;
    background-color: orange;
    left: 300px;
    top: 20px;
}

section{
    position: relative;
    background-color: burlywood;
    overflow: hidden;
}