h2{
    text-transform: uppercase;
}

.bg{
    height: 50vh;
    width: 50vw;
    border: 14px solid red;
    padding: 30px;
    margin-top: 30px;

    background-repeat: no-repeat;
    background-image: url(/Udemy/day12/img/break-dance-3532494_1280.jpg);
    /* background-position: center; */
    /* background-position: -50px; */
    /* background-size: auto 100%; */
}