.burger{
    position: absolute;
    top: 40px;
    right: 40px;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 50%;
    border: 2px solid black;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    transition: .5s linear;
}

.burger:hover{
    cursor: pointer;
    transform: rotate(405deg);
}

aside{
    position: absolute;
    top: 0;
    bottom: 0;
    left: -300px;
    width: 300px;
    background-color: black;
    transition: 1s linear;
}

.burger:hover+aside{
    position: absolute;
    left: 0;
}