*{
    padding: 0;
    margin: 0;
}

.but01{
    position: absolute;
    bottom: 15vh;
    right: 15vw;
    border: 2px solid black;
    width: 360px;
    height: 100px;
    background-color: #fff;
    font-size: 40px;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
    cursor: pointer;
    
}
.but01 span{
    display: block;
    line-height: 100px;
    position: relative;
    top: 0;
    transition: .3s;
}

.but01:hover span{
    top: -100px;
}

.but02{
    position: absolute;
    bottom: 30vh;
    right: 50vw;
    border: 2px solid black;
    width: 360px;
    height: 100px;
    background-color: #fff;
    font-size: 40px;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
    cursor: pointer;
    
}

.but02 span{
    display: block;
    line-height: 100px;
    position: relative;
    top: 0;
    left: 0;
    transition: .3s;
}

.but02 span:nth-child(2){
    top: -100px;
    left: 360px;
}

.but02:hover span:nth-child(1){
    left: -360px;
}

.but02:hover span:nth-child(2){
    left: 0;
}