*{
    margin: 0;
    padding: 0;
}
body{
    min-height: 300vh;
}
header{
    position: relative;
    height: 80vh;
    background-repeat: no-repeat;
    background-image: url(/Udemy/day12/img/auckland-gdd200d3f2_1920.jpg);
    background-position: center bottom;
    background-attachment: fixed;
}

h1{
    color: white;
    font-family: arial;
    font-size: 80px;
    position: absolute;
    bottom: 50px;
    background-color: rgba(0, 0, 0, 0.705);
    width: 100%;
    text-align: center;
    padding: 20px;
}

section{
    line-height: 190%;
    margin: 100px auto auto auto;
    width: 80%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}